/* Table */
.data-table-component table {
  border-collapse: collapse;
}

/* Header */
.data-table-component table thead {

}

.data-table-component table thead th {
  
}

/* Footer */
.data-table-component table tfoot {

}

.data-table-component table tfoot td {}

/* Pager */
.data-table-component table tfoot td ul.pager li {
  padding: 2px;
}

.data-table-component table tfoot td ul.pager li.page.active a {
  text-decoration: none;
}
